@font-face {
    font-family: 'Genome Thin';
    src: url('../fonts/genome_thin.otf');
}

@font-face {
    font-family: 'Courier Prime Code';
    src: url('../fonts/courier_prime_code.ttf');
}

:root {
    --dark: #260101;
    --light: #f2f2f2;
    --primary: #a63f03;
    --primary-darker: #731702;
    --primary-lighter: #d97904;
    background-color: var(--light);
    color: var(--dark);
}

#loading-screen {
    position: fixed;
    z-index: 99999;
    background-color: var(--light);
}

#main-menu {
    position: fixed;
}

.main-menu-link {
    padding: 20px 30px;
    font-family: 'Courier Prime Code';
    text-decoration: none;
    color: inherit;
}

.retractable-menu-retractor {
    border: none;
    color: inherit;
    background-color: inherit;
}