
.main-banner{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/WhatsApp\ Image\ 2022-08-11\ at\ 22.54.59.jpeg);
    /**/
    background-repeat: no-repeat;
    background-size:  cover;
    min-height: 100vh;
    z-index: -1;
    
    
    
}

.img-banner{
    height: 200px;
    width: 200px;
}

.m-0{
    margin: 0 auto;
    color: white;
    font-weight: 700;
}

.m-top{
    margin: 125% 0
}

.gap-1{
    gap: 10px;
}


.btn-banner {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.btn-banner:hover {
  background: #F6F9FE;
  
}

.btn-banner:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn-banner:focus {
  outline: none;
  border: 2px solid rgb(173, 167, 167);
}

.btn-banner:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-banner:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn-banner:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-banner:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn-banner:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

@font-face {
    font-family: 'Genome Thin';
    src: url('../fonts/genome_thin.otf');
}

@font-face {
    font-family: 'Courier Prime Code';
    src: url('../fonts/courier_prime_code.ttf');
}

:root {
    --dark: #260101;
    --light: #f2f2f2;
    --primary: #a63f03;
    --primary-darker: #731702;
    --primary-lighter: #d97904;
    background-color: var(--light);
    color: var(--dark);
}

#loading-screen {
    position: fixed;
    z-index: 99999;
    background-color: var(--light);
}

#main-menu {
    position: fixed;
}

.main-menu-link {
    padding: 20px 30px;
    font-family: 'Courier Prime Code';
    text-decoration: none;
    color: inherit;
}

.retractable-menu-retractor {
    border: none;
    color: inherit;
    background-color: inherit;
}

