
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@300;400&display=swap');

@font-face {
  font-family: 'Genome Thin';
  src: url('../fonts/genome_thin.otf');
}

@font-face {
  font-family: 'Courier Prime Code';
  src: url('../fonts/courier_prime_code.ttf');
}

@font-face {
  font-family: 'Send Flowers';
  src: url('../fonts/send_flowers.ttf');
}

:root {
  --dark: #260101;
  --light: #f2f2f2;
  --primary: #a63f03;
  --primary-darker: #731702;
  --primary-lighter: #d97904;
  background-color: var(--light);
  color: var(--dark);
}

* {
  transition: all linear 50ms;
  scroll-behavior: smooth;
}

.outfit{
  font-family: 'Outfit', sans-serif;
}

.AboutMe{
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 2.5em;
  overflow: hidden;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.font-alter{
  color: var(--light);
  font-size: x-large;
  
}

.div-alter{
  height: 300px;
}

.ref-title{
  color: var(--light);
  font-size: 18px;
}

button {
  border: none;
  color: inherit;
  background-color: inherit;
}

#loading-screen {
  position: fixed;
  z-index: 99999;
  background-color: var(--light);
}

#main-menu {
  position: fixed;
  max-height: 100vh;
  box-shadow: 0px 0px 10px 0px var(--dark);
  z-index: 99998;
  background-color: var(--light);
}

#retracted-main-menu-lsm {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  height: 100%;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 0px 10px 0px var(--dark);
  z-index: 99998;
  background-color: var(--light);
}

.retractable-menu-retractor {
  border: none;
  color: inherit;
  background-color: inherit;
}

.main-menu-link {
  padding: 20px 30px;
  font-family: 'Courier Prime Code';
  text-decoration: none;
  color: inherit;
}

.hover-color-change:hover {
  color: var(--light);
  background-color: var(--primary-lighter);
}

.hover-line-bottom {
  position: relative;
}

.hover-line-bottom-span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-lighter);
}

#main-banner{
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/imgAtelier/background_banner.jpeg") no-repeat;
  background-size:  cover;
  min-height: 100vh;
  color: var(--light);
}

.carousel-previous-button, .carousel-next-button {
  cursor: pointer;
}

.img-info{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.m-b-1{
  margin-bottom: 20px;
}

.m-r-5{
  margin-right: 25%;
}

.m-l-5{
  margin-left: 25%;
}

.m-top{
  margin: 125% 0;
}

.m-top-0{
  margin: auto;
}

.m-bottom{
  margin-bottom: 20px;
}
.gap-1{
  gap: 10px;
}
.gap-2{
  gap: 25px;
}

.btn-banner {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  touch-action: manipulation;
}

.btn-banner:hover {
  background: #F6F9FE;
  
}

.btn-banner:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn-banner:focus {
  outline: none;
  border: 2px solid rgb(173, 167, 167);
}

.btn-banner:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-banner:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn-banner:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn-banner:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn-banner:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.card {
  padding: 20px;
}

.background-prim{
  background-color: var(--primary-darker);
}

.card-symbol{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  border-radius: 10px;
  border: solid #260101;
  height: 100%;
  padding: 8px;
  width: 340px;
  height: 340px;
}

.btn-back{
  transform: rotate(-180deg);
}

.p-5{
  padding: 120px;
}
.btn-back {
  transform: rotate(-180deg);
}

.relative {
    position: relative;
}

.whatsappbutton{
    position: fixed;
    height: 80px;
    width: 80px;
    bottom: 40px;
    right: 50px;
    background-color: green;
    border-radius: 40px;
}
.background-dark {
  background-color: var(--dark);

}



.text-info{
  text-align: justify;
  font-size: 18px;
  color: #3c4043;
}

.visible{
  opacity: 1;
  transition: opacity 1.5s ease;
}

.hidden{
  opacity: 0;
}