RewriteEngine On
Options All -Indexes
Header set Access-Control-Allow-Origin https://www.hostdeprojetosdoifsp.gru.br

# ROUTER HTTPS Redirect
RewriteCond %{HTTP_HOST} !localhost
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ROUTER URL Rewrite
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=/$1 [L,QSA]